.background {
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  animation: animate 8s ease-in-out infinite alternate;
  background: linear-gradient(
    90deg,
    rgb(28, 100, 83) 50%,
    rgb(182, 219, 211) 50%
  );
  z-index: -1;
  opacity: 0.5;
}

.layer2 {
  animation-direction: alternate-reverse;
  animation-duration: 5s;
}

.layer3 {
  animation-duration: 10s;
}

@keyframes animate {
  0% {
    transform: translateX(-10%);
    transform: translateY(-10%);
  }
  100% {
    transform: translateX(10%);
  }
}
