.option-name {
  position: absolute;
  left: 20%;
  top: 2%;
  height: 30px;
  width: 10%;
  min-width: 100px;
  background-color: #d14943;
  border-radius: 5px;
  box-shadow: inset 2px 3px 15px -5px rgba(26, 51, 56, 1);
}

.nav-buttons {
  width: 60%;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #1a3338;
  padding: 5px;
  padding-left: 20%;
}

.sitoo-logo {
  position: absolute;
  left: 2%;
  top: 1.5%;
  background-color: #dedede;
}

.icon {
  font-size: 1.5em;
  height: 30px;
  width: auto;
  color: #1a3338;
}

.icon-text {
  display: none;
}

#users-management:hover .icon-text,
#products:hover .icon-text,
#manufactorers:hover .icon-text {
  display: block;
  font-size: 0.5em;
  position: absolute;
  left: 20.5%;
  top: 1.2%;
  color: #dedede;
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .option-name {
    display: none;
  }
  #users-management:hover .icon-text,
  #products:hover .icon-text,
  #manufactorers:hover .icon-text {
    display: none;
  }

  .sitoo-logo {
    height: 20px;
    left: 3%;
    top: 2%;
  }
}
