.categories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 10%;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
}

.add-user {
  align-self: center;
}

.close-icon {
  position: fixed;
  left: 6%;
  top: 4%;
  color: #296182;
  font-size: 1.5em;
}

.delete-user {
  position: fixed;
  right: 6%;
  top: 4%;
  font: 1.2em depot-new-web, sans-serif;
  color: #296182;
}

.edit-button {
  font: 1em depot-new-web, sans-serif;
  color: #296182;
  align-self: center;
  padding-left: 5px;
}

.date-stamp {
  font: 0.7em depot-new-web, sans-serif;
  color: #296182;
  height: 50px;
}
.date-stamp.created {
  position: absolute;
  bottom: 0.5%;
  left: 5%;
}
.date-stamp.modified {
  position: absolute;
  bottom: 0.5%;
  right: 5%;
}

.date-label {
  font-weight: bold;
}

.date-info {
  font-style: italic;
}

@media (max-width: 768px) {
  .date-stamp {
    height: 50px;
    font-size: 0.6em;
  }
  .date-stamp.created {
    position: absolute;
    bottom: 0.5%;
    left: 2%;
  }
  .date-stamp.modified {
    position: absolute;
    bottom: 0.5%;
    right: 2%;
  }

  .date-label {
    font-size: 1em;
    font-weight: bold;
  }
}
