.table-title {
  align-self: center;
}

.pagination {
  position: absolute;
  top: 2%;
  left: 60%;
  background-color: #d14943;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px 13px -5px rgba(26, 51, 56, 1);
  font: 0.7em depot-new-web, sans-serif;
  width: 20%;
  height: 7%;
  font-weight: bold;
  color: #dedede;
  z-index: 1;
}

#selected {
  background-color: #dededee8;
  color: #296182;
  border: none;
  border-radius: 5px;
  padding: 4%;
  font-size: 1.2em;
  transform: translateY(-30%);
  margin-right: 5px;
  margin-left: 5px;
}

.pages-numbers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 15%;
  width: 40%;
  overflow: hidden;
}

#button-previous {
  position: absolute;
  top: 0;
  left: 5%;
}

#button-next {
  position: absolute;
  top: 0;
  left: 90%;
}

.end-of-the-line {
  position: absolute;
  top: 0;
  left: 60%;
  font-style: italic;
  font-weight: lighter;
  font-size: 0.9em;
  align-self: center;
  padding-top: 0.5%;
}

.page-number {
  padding-right: 10px;
}

.add-user {
  position: absolute;
  top: 3%;
  right: 2%;
}

.delete-selected {
  position: absolute;
  top: 3%;
  right: 6%;
}

.input-wrapper {
  width: 100%;
}

.confirm-message {
  color: #1a3338;
  font: 0.7em depot-new-web, sans-serif;
}

.confirm-cancel-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 90%;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .pagination {
    left: 40%;
    padding-right: 6px;
    width: 40%;
    height: 5%;
  }
  .add-user {
    right: 4%;
  }
  .delete-selected {
    right: 10%;
  }
  .confirm-message {
    width: 70%;
    font: 1.2em depot-new-web, sans-serif;
  }
}
