button {
  background-color: #59b49f;
  border: none;
  border-radius: 10px;
  height: 8%;
  width: 30%;
}

button:disabled {
  background-color: #10574628;
  border: none;
  border-radius: 10px;
}

.create-mock-button {
  height: 100px;
}
