.card {
  min-width: 30px;
  width: 15%;
  min-height: 50px;
  height: 60%;
  box-shadow: 2px 2px 12px -5px rgba(209, 73, 67, 1);
  background-color: #dedede;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  position: relative;
}

.data-card {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-55%, -50%);
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 30px;
  width: 100%;
  max-width: 450px;
  min-height: 50px;
  height: 60%;
  box-shadow: 2px 2px 12px -5px rgba(209, 73, 67, 1);
  background-color: #dedede;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 30%;
    height: 40%;
  }

  .data-card {
    height: 100%;
    width: 100%;
    padding: 5%;
  }
}
